{% extends "base.html" %}
{% block title%}check connection{% endblock %}

{% block content %}


<form method="POST">
<h3 align="center">Veritabanı tablo kontrol sayfası</h3>


<div class="form-group">
    <div class="input-group">
<label for="tablo">Tablo seçiniz</label>
<select name="tablo" id="tablo" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
{% for table in tablelist %}
<option value="{{table}}">{{table}}</option>
{% endfor %}
</select>

</div>
<button type="submit" class="btn btn-primary">Göster</button>

</div>




</form>

{% if tabloismi != '' %}


<p>{{basliklar}}</p>

{% endif }


{% endblock %}