{% extends "base.html" %}
{% block title%}Deneme{% endblock %}

{% block content %}
        <h1>Fiyat Listesi Yükle</h1>
        <hr>

        <form action="/upload-csv" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                        <label>CSV Dosyası Seç</label>
                                <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="csv" id="csv">
                                        <label class="custom-file-label" for = "csv">CSV Dosya Seçiniz</label>
                                </div>
                </div>

                <button title="submit" class="btn btn-primary">Veritabanına Yükle</button>

        </form>

{% endblock %}